
<div class="header">
  <button routerLink="" mat-button>Regresar</button>
</div>

<div class="cont_agregarToma">
  
  <mat-card class="example-card" appearance="outlined">

    <mat-card-header class="agregarToma_header" >
      <mat-card-title> {{ masDatos.alias }} </mat-card-title>
    </mat-card-header>

    <mat-card-content  >

  <ion-list [inset]="true">
    <ion-item>
      <ion-label class="texto" >Nombre: <span class="texto_span" >sdsdsdsds</span> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Direccion:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Clave de usuario</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Estatus</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Adeudo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Saldo</ion-label>
    </ion-item>
  </ion-list>

      
    </mat-card-content>

  

  </mat-card>

</div>

