.cont_agregarToma{
    padding: 30% 10%;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.agregarToma_header{
    background-color: #00846a;
    border-radius: 5px 5px  0 0;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.example-form{
    display: flex;
    flex-direction: column;
    padding: 20% 5%;
}

.texto_span{
    color: rgb(10, 103, 165);
    font-weight: 500;
    font-size: 20px;
}

.texto{
    font-size: 20px;
}

.cont_loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 230, 217);
}



.btn-recibo{
    width: 100%;
    padding: 10px 0; 
    background-color: #00846a;
    color: white;
    font-size: 20px;
    &:hover{
      background-color: #005e4b;
  
    }
  }
  
  .cont_meses{
    border: 1px solid black;
    width: 100%;
    display: flex;
    height: 40%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #00846a;
  }
  
  .cont_meses_btn{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn_meses{
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 5px;
    font-weight: 500;
    &:hover{
      background-color: #898b8b;
    }
  }
  
  
ion-toolbar{
  --background: #00846a;
  height: 80px;
  display: flex;

}

ion-footer{
  ion-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    ion-title{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


/* popup */

.popup{
  width: 100%;
  height: 100vh;
  background-color: rgba(138, 126, 126, 0.589);
  overflow: hidden;
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: #00846a;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
  button{
      font-weight: bolder;
      font-size: 20px;
  }
}

.card-header{
  text-align: center;
}

.ocultar{
  display: none;
}

.mostrar{
  display: none;
}

.boton{
  background-color: #00846a;
}
