<ion-header >
  <ion-toolbar  >
    <ion-buttons slot="start" >

      <svg (click)="regresar()" style="margin-left: 20px;"  width="20px" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" ><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>


    </ion-buttons>
    <ion-title style="background-color: #00846a; z-index: -1; color: rgb(224, 224, 224);" >
      OOMSAPAS
    </ion-title>

  </ion-toolbar>
</ion-header>

@if ( loader ) {

  <div class="cont_loader">
    <ion-spinner name="circles" style="width: 100px; height: 100px;" color="success"></ion-spinner>
  </div>

}@else {
  
  <div class="cont_agregarToma">
    
    <mat-card class="example-card" appearance="outlined">
  
      <mat-card-header class="agregarToma_header" >
        <mat-card-title> {{ masDatos.alias }} </mat-card-title>
      </mat-card-header>
  
      <mat-card-content  >
  
    <ion-list [inset]="true">
      <ion-item>
        <ion-label class="texto" >Nombre: <span class="texto_span" > {{ masDatos.nombre }} </span> </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="texto">Direccion: <span class="texto_span" > {{ masDatos.direccion }} </span>  </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="texto">Clave de usuario: <span class="texto_span" > {{ masDatos.cveusu }} </span>  </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="texto">Estatus: <span class="texto_span" > {{ masDatos.estatusContrato }} </span>  </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="texto">Adeudo: <span class="texto_span" > {{ masDatos.mesesAdeudo }} </span>  </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="texto">Saldo: <span class="texto_span" > {{ masDatos.saldo }} </span>  </ion-label>
      </ion-item>
    </ion-list>
  
        
      </mat-card-content>
  
    
  
    </mat-card>

    <div class="text-center"  >
      <h3>Recibos</h3>
    </div>
    

    <div class="cont_meses">
        @for (item of meses ; track $index) {
          <div class="cont_meses_btn" >
            <button  (click)="downloadRecibo( masDatos.cveusu, item.valor)" class="btn_meses"  type="button"> {{ item.mes }} </button>
          </div>
        }

    </div>
    
  </div>

  <ion-footer>
    <ion-toolbar style="padding: 10px 0;">
      <ion-title >
        <button mat-raised-button>Pagar</button>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
  
  
  
}



