<ion-menu contentId="main-content">
  <ion-header >
    <h4 class="clase_menu" > 
      <img class="logo-sapa-menu" style="width: 50px; margin-right: 20px;" src="../../assets/logo_blanco.png" alt="">  
      MENU
    </h4>
</ion-header>
<ion-content class="ion-padding"  >
  <div class="container_aside" >

    <ion-list>

      <ion-item>
        <ion-icon class="icon" name="navigate-circle-outline"></ion-icon>
        <ion-input label="Recaudacion" (click)="onClick1()" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon class="icon" name="wallet-outline"></ion-icon>
        <ion-input label="Pagar en linea" (click)="onClick2()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon class="icon" name="calendar-number-outline"></ion-icon>
        <ion-input label="Tandeo" (click)="onClick3()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon class="icon" name="call-outline"></ion-icon>
        <ion-input label="Quejas y fugas" (click)="onClick4()"></ion-input>
      </ion-item>

    

    </ion-list>
  </div>

  <ion-footer class="home__footer" >
    <ion-toolbar class="toolbar">
      <a href="https://www.facebook.com/sapalapaz/?locale=es_LA"> 
      <div style="gap: 10px;" class="contFace">
        <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="27px" viewBox="0 0 512 512"> <path d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"/></svg>
          
  
          Sapa
          
        </div>
      </a>
    </ion-toolbar>
  </ion-footer>

</ion-content></ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        OOMSAPAS
      </ion-title>
      <div class="exit" slot="end" style="margin-right: 10%;" (click)="logout()" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
          <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
        </svg>
      </div>
    </ion-toolbar>
  </ion-header>

  @if (loader) {
    <div class="cont_loader">
      <ion-spinner name="circles" style="width: 80px; height: 80px;" color="success"></ion-spinner>
    </div>
  }@else {

    <ion-content class="ion-padding"> 
  
      <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Clave de usuario Column -->
      <ng-container matColumnDef="Clave de usuario">
        <th mat-header-cell *matHeaderCellDef> Clave de usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.cveusu}} </td>
      </ng-container>
  
      <!-- alias Column -->
      <ng-container matColumnDef="Alias">
        <th mat-header-cell *matHeaderCellDef> Alias </th>
        <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
      </ng-container>
  
      <!-- ver mas Column -->
      <ng-container matColumnDef="verMas">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" class="verMas" > 
  
          <svg routerLink="/verMas/{{element.id}}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
          </svg>
  
          <svg (click)="delete( element.id )" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
          </svg>
  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
      </div>
  
      <ion-footer>
    <ion-toolbar >
  
      <div class="cont_footer">
        <button routerLink="/agregarToma" mat-stroked-button>Agregar toma</button>
      </div>
  
    </ion-toolbar>
      </ion-footer>
  
    </ion-content>
  }



</div>



