@if (pantallaError) {
  
  <div class="cont_login">


  
    <div class="cont_formulario">

      <div class="contimagen_logo_sapa">
        <img class="imagen_logo_sapa " src="assets/logo.png">
      </div>


      <form  [formGroup]="form" (ngSubmit)="login(form.value)" >
    
        <mat-form-field class="example-full-width">
          <mat-label>Nombre de usuario</mat-label>
          <input formControlName="email" matInput placeholder="sapa@gmail.com" >
        </mat-form-field>
  
        @if (  form.controls['email'].getError('required') && form.controls['email'].touched ) {
          <span class="form-text text-danger">
            Nombre de usuario requerido
        </span>     
        }
  
        @if (  form.controls['email'].getError('minlength')  && form.controls['email'].touched) {
          <span class="form-text text-danger">
            Este campo requiere minimo 4 letras
        </span>     
        } 
  
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput placeholder="*******" >
        </mat-form-field>
  
        @if (form.controls['password'].getError('required')) {
          <span class="form-text text-danger">
            Password requerido
        </span>     
        }
      
        <button [disabled]="form.invalid"  mat-raised-button>Aceptar</button>
  
        <span> <a href=""> Olvidaste tu contraseña? </a> </span>
        <span> Aun no tienes cuenta? <a href=""> Registrate </a> </span>
    
      </form>
    </div>
  
  
  </div>
}@else {

  <div class="popup " >

    <div class="card" >
      <div class="card-header"  >
        <h3 class="text-center" >
          Usuario o contraseña incorrectos
        </h3>
      </div>
      <button style="border: none; border-radius: 0 0 5px 5px; " class="btn boton" (click)="ocultar()" >Aceptar</button>
    </div>
  </div>
  <img style="z-index: -1;" class="imagen" src="assets/FOTO.jpg">

}

