@if (pantallaError) {
  
  <div class="cont_login">


  
    <div class="cont_formulario">

      <div class="contimagen_logo_sapa">
        <img class="imagen_logo_sapa " src="assets/logo.png">
      </div>


      <form  [formGroup]="form" (ngSubmit)="login(form.value)" >
    
        <mat-form-field class="example-full-width">
          <mat-label>Nombre de usuario</mat-label>
          <input formControlName="email" matInput placeholder="sapa@gmail.com" >
        </mat-form-field>
  
        @if (  form.controls['email'].getError('required') && form.controls['email'].touched ) {
          <span class="form-text">
            Nombre de usuario requerido
        </span>     
        }
  
        @if (  form.controls['email'].getError('minlength')  && form.controls['email'].touched) {
          <span class="form-text ">
            Este campo requiere minimo 4 letras
        </span>     
        } 
        

        <div class="cont_password"style="display: flex;"   >

            <mat-form-field style="display: flex;"  class="example-full-width" >
              <mat-label>Password</mat-label>

              <div class="a" style="display: flex;">

                <input [type]= "verPassword? 'text' : 'password' " formControlName="password" matInput placeholder="*******"   >
                <div class="cont_verPassword" (click)="cambiar()">
                  @if ( verPassword ) {
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                      <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                      <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                      <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                    </svg>            
                  }@else{
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                  }
                </div>
              </div>
            </mat-form-field>
          
        </div>
  
        @if (form.controls['password'].getError('required') && form.controls['password'].touched) {
          <span class="form-text">
            Password requerido
        </span>     
        }
      
        <button [disabled]="form.invalid" mat-raised-button>Aceptar</button>
  
        
      </form>

      <div class="cont_footer">
        <a href="https://portalweb.sapalapaz.gob.mx/forgot-password" >Olvidaste tu Contraseña?</a>

        <p> <ion-icon name="person-add-outline"></ion-icon> Aun no tienes cuenta? 
          <a href="https://portalweb.sapalapaz.gob.mx/register"><strong>Registrate</strong></a>
        </p>      </div>

    </div>
  
  
  </div>
}@else {

  <div class="popup " >

    <div class="card" >
      <div class="card-header "  >
        <h3 class="text-center" >
          Usuario o contraseña incorrectos
        </h3>
      </div>
      <button style="border: none; border-radius: 0 0 5px 5px; color: rgb(197, 197, 197); " class="btn boton" (click)="ocultar()" >Aceptar</button>
    </div>
  </div>
  <img style="z-index: -1;" class="imagen" src="assets/FOTO.jpg">

}

