<app-header></app-header>

<div class="cont_quejas">

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="../../../assets/2022-01.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Reporte de fugas y aclaraciones Call Center (612) 123 8628

      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="../../../assets/servicio.webp" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Aclaraciones de su Facturacion Atencion al Usuario (612) 123 8628

      </p>
    </mat-card-content>

  </mat-card>
  
</div>